@font-face {
  font-family: "Blender Pro Book";
  src: url('assets/fonts/blender_pro_book-webfont.woff2') format('woff2'),
  url('assets/fonts/blender_pro_book-webfont.woff') format('woff');
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  font-family: "Blender Pro Book", sans-serif;
}

#container {
  display: flex;
}

#bg {
  width: auto;
  height: 99.9vh;
}

#form-container {
  width: 37vw;
  border: solid aqua 3px;
}